<ng-container>
  <div class="container-fluid">
    <h1>{{ title | uppercase }}</h1>
    <h2>Saison 2023-2024</h2>
    <div class="container">
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main1"
        aria-expanded="false"
        aria-controls="main1"
      >
        Main Event 1 (07 et 14 septembre 2023)
      </button>
      <div class="collapse" id="main1">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsMain1$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#side1"
        aria-expanded="false"
        aria-controls="side1"
      >
        Side Event 1 (14 septembre 2023)
      </button>
      <div class="collapse" id="side1">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsSide1$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main2"
        aria-expanded="false"
        aria-controls="main2"
      >
        Main Event 2 (21 et 28 septembre 2023)
      </button>
      <div class="collapse" id="main2">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsMain2$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#side2"
        aria-expanded="false"
        aria-controls="side2"
      >
        Side Event 2 (28 septembre 2023)
      </button>
      <div class="collapse" id="side2">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsSide2$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main3"
        aria-expanded="false"
        aria-controls="main3"
      >
        Main Event 3 (05 et 12 octobre 2023)
      </button>
      <div class="collapse" id="main3">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsMain3$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#side3"
        aria-expanded="false"
        aria-controls="side3"
      >
        Side Event 3 (12 octobre 2023)
      </button>
      <div class="collapse" id="side3">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsSide3$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main4"
        aria-expanded="false"
        aria-controls="main4"
      >
        Main Event 4 (19 et 26 octobre 2023)
      </button>
      <div class="collapse" id="main4">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsMain4$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#side4"
        aria-expanded="false"
        aria-controls="side4"
      >
        Side Event 4 (26 octobre 2023)
      </button>
      <div class="collapse" id="side4">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsSide4$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main5"
        aria-expanded="false"
        aria-controls="main5"
      >
        Main Event 5 (2 et 9 novembre 2023)
      </button>
      <div class="collapse" id="main5">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsMain5$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#side5"
        aria-expanded="false"
        aria-controls="side5"
      >
        Side Event 5 (9 novembre 2023)
      </button>
      <div class="collapse" id="side5">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsSide5$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main6"
        aria-expanded="false"
        aria-controls="main6"
      >
        Main Event 6 (16 et 23 novembre 2023)
      </button>
      <div class="collapse" id="main6">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsMain6$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#side6"
        aria-expanded="false"
        aria-controls="side6"
      >
        Side Event 6 (23 novembre 2023)
      </button>
      <div class="collapse" id="side6">
        <table class="table table-sm table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="titreColonne" scope="col">POSITION</th>
              <th class="titreColonne" scope="col">PSEUDO</th>
              <th class="titreColonne" scope="col">POINTS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              table="table-active"
              *ngFor="let result of resultatsSide6$ | async; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ result.pseudo }}</td>
              <td>{{ result.points }} PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
