* {
  box-sizing: border-box;
}

.contenu {
  margin: 0;
}

.bpc-top {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.logo {
  padding: 0;
}

#image {
  background-size: cover;
  height: 18vh;
}

h1 {
  margin: auto;
  color: yellow;
  font-family: "Poppins", "Inter", Verdana, sans-serif;
  font-weight: 400;
  font-size: 80px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.titre {
  display: table;
}
/*-----------------------------------------
# RESPONSIVE DESIGN
# 1024 : notebook
# 768 : tablette
# 480 : smartphone
------------------------------------------*/
@media screen and (max-width: 1540px) {
  h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1295px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 913px) {
  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 848px) {
  h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 788px) {
  h1 {
    font-size: 15px;
    text-align: center;
  }
  #image {
    background-size: cover;
    height: 18vh;
  }
  .photo {
    grid-column: 4 / 4;
  }
  .titre {
    grid-column: 1 / 5;
    grid-row: 2;
    height: 50px;
    width: 100%;
  }
  .bpc-top {
    grid-template-columns: repeat(2, 1fr 1fr);
    justify-content: space-between;
  }
}
@media screen and (max-width: 539px) {
  h1 {
    font-size: 15px;
    text-align: center;
  }
  .bpc-top {
    grid-template-columns: repeat(2, 1fr 1fr);
    justify-content: start;
  }
  #image {
    background-size: cover;
    height: 18vh;
  }
  .photo {
    grid-column: 2 / 3;
  }
  .titre {
    grid-row: 2;
    height: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  h1 {
    font-size: 15px;
    text-align: center;
  }
  .bpc-top {
    grid-template-columns: repeat(2, 1fr 1fr);
    justify-content: space-between;
  }
  #image {
    background-size: cover;
    height: 16vh;
  }
  .photo {
    grid-column: 4 / 5;
  }
  .titre {
    grid-column: 1 / 5;
    grid-row: 2;
    height: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 280px) {
  h1 {
    font-size: 15px;
    text-align: center;
  }
  .bpc-top {
    grid-template-columns: repeat(2, 1fr 1fr);
    justify-content: space-between;
  }
  #image {
    background-size: cover;
    height: 15vh;
  }
  .photo {
    grid-column: 4 / 5;
  }
  .titre {
    grid-column: 1 / 5;
    grid-row: 2;
    height: 50px;
    width: 100%;
  }
}
