* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.custom {
  width: 80px !important;
}

button {
  font-weight: 400;
  border-radius: 999px;
  color: white;
  font-family: "poppins";
}

h1 {
  font-family: "Quicksand";
  font-weight: bold;
  text-transform: uppercase;
  color: yellow;
  font-size: 14px;
}
