h3 {
  font-weight: 400;
  color: yellow;
}

button {
  margin-left: 45%;
}

button.valid {
  font-weight: 400;
  text-align: center;
  border-radius: 999px;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "poppins";
  cursor: pointer;
}

button.cancel {
  font-weight: 400;
  text-align: center;
  border-radius: 999px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "poppins";
}

button.valid:hover {
  background-color: rgb(10, 168, 10);
}

button.cancel:hover {
  background-color: rgb(255, 26, 26);
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*------------------------------------------
# Définition du background-color de la modal.
-------------------------------------------*/
.mat-dialog-container {
  background-color: #222;
}

/*-------------------------------------------------------------
# Définition du style des éléments mat-form d'Angular Material.
--------------------------------------------------------------*/
.mat-form-field-label {
  color: yellow !important;
}

.mat-form-field-underline {
  background-color: yellow !important;
}

.mat-form-field-ripple {
  background-color: orange !important;
}

/*.mat-focused {
  color: rgb(225, 220, 231);
}*/

.ng-dirty,
.ng-touched {
  color: rgb(220, 220, 233);
}
