* {
  box-sizing: border-box;
}

#cal-buttons {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cal-date-nav-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: large;
  gap: 30px;
}

button {
  /*background-color: rgb(163, 146, 51);*/
  background-color: orange;
  border-radius: 10px;
  color: black;
  font-weight: 500;
  border: solid 1px gold;
}

#cal-date-field {
  color: white;
  font-size: x-large;
  font-weight: 500;
}

/*mwl-calendar-month-view {
  background-color: olive;
  color: olive;
}*/
