* {
  box-sizing: border-box;
}

#cal-buttons {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cal-date-nav-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: large;
  gap: 30px;
}

button {
  background-color: orange;
  border-radius: 10px;
  color: black;
  font-weight: 500;
  border: solid 1px gold;
}

#cal-date-field {
  color: white;
  font-size: x-large;
  font-weight: 500;
}

/*-----------------------------------------
# Tous les des jours du calendrier
-----------------------------------------*/
.cal-month-view .bg-pink,
.cal-week-view .cal-day-columns .bg-pink,
.cal-day-view .bg-pink {
  background-color: rgb(158, 164, 169) !important;
}

/*-----------------------------------------
# Pastille d'évènement
-----------------------------------------*/
.cal-month-view .cal-event {
  background-color: rgb(62, 6, 116);
}

/*-----------------------------------------
# Tous les chiffres des jours du calendrier
-----------------------------------------*/
span.cal-day-number {
  color: blue !important;
  font-weight: 400 !important;
}

/*--------------
# Jour en cours
--------------*/
.cal-day-cell.cal-today {
  background-color: rgb(217, 147, 16) !important;
}

.cal-event-title {
  color: white !important;
}
