<div class="page">
  <div class="container">
    <h1>Bordeaux Poker Chartrons</h1>
  </div>
  <div class="container">
    <h3>Votre club de poker en Aquitaine</h3>

    <p>
      Le club Bordeaux Poker Chartrons est une section de la maison de quartier
      de l’Union Sportive des Chartrons.
    </p>
    <p>
      La convivialité est le maître mot du club et ses membres sont très
      attachés aux valeurs de l’association parmi lesquelles la diversité vient
      en tête. Peu importe l’âge, le genre ou la profession, tous nos membres se
      retrouvent autour des tables de poker pour y pratiquer leurs passion.
    </p>
    <p>
      Ce sont ces valeurs intergénérationnelles qui font de notre club, un club
      unique. C’est pourquoi nous y sommes très attachés.
    </p>
    <p>Quelque soit votre niveau de poker, vous êtes le bienvenu parmi nous.</p>
  </div>
  <div class="container">
    <h4>Nos Installations :</h4>
    <p>Nos locaux sont situés au 2 place saint martial 33000 Bordeaux.</p>
    <p>
      Nous bénéficions d'une grande salle pouvant accueillir jusqu'à 120 joueurs
      de poker ainsi que d'une cuisine qui nous permet de vous proposer une
      restauration rapide pendant nos tounois.
    </p>

    <h4>Nos horaires :</h4>
    <p>
      Le club vous propose des parties chaque mardi et jeudi soir de 20h à 1h de
      Septembre à Juin.
    </p>

    <h4>Les Championnats du Bordeaux Poker Chartrons :</h4>
    <p>
      Le championnat annnuel se déroule tout au long de l’année, et est découpé
      en trois championnat trimestriel. Un premier championnat de Septembre à
      Décembre. Un second de Janvier à Mars, et enfin, un troisième d'Avril à
      Juin.
    </p>
    <p>Seuls les adhérents du club sont habilités à y participer.</p>

    <h4>Notre matériel de poker :</h4>
    <p>
      Le club possède son propre matériel de poker : des tables de poker, des
      jeux de cartes de qualité plastifiée et une jetonnerie personnalisée à
      l’effigie du club.
    </p>
    <p>
      Nous utilisons le logiciel Tournament Director pour la gestion de nos
      tournois.
    </p>
  </div>
</div>
