.navbar {
  width: 100%;
  font-family: "Poppins", "Inter", Verdana, sans-serif;
}
ul {
  list-style: none;
  display: inline-block;
}

ul > li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 5px;
  border: var(--border-size) solid;
  cursor: pointer;
}

a {
  color: gray;
}

li > ul {
  position: absolute;
  top: calc(100% + var(--border-size));
  /*left: calc(var(--border-size) * -1);*/
  /*left: calc(-80px);*/
  left: -30px;
  font-size: 0.7rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all ease-in 200ms 50ms;
}

li:hover > ul {
  transform: scale(1, 1);
}

li:active > ul {
  transform: scale(1, 1);
}

@media screen and (max-width: 1090px) {
  /*pb entre 992 et 1090*/
}
