<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="accueil" class="nav-link">Accueil</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="club" class="nav-link">Le club</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Classement
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="championnatA"
                >Championnat A</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="championnatB"
                >Championnat B</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="championnatC"
                >Championnat C</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="championnatAnnuel"
                >Championnat Annuel</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Résultats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="resultatsA"
                >Résultats Championnat A</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="resultatsB"
                >Résultats Championnat B</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="resultatsC"
                >Résultats Championnat C</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Archives
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="archives"
                >Championnat Annuel 2022-2023</a
              >
            </li>
          </ul>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="cnic" class="nav-link">CFIPA</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            CFEPA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="qualif2024"
                >Qualification 2024 - Poule C</a
              >
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" routerLink="cnecNationale"
                >Finale Nationale 2023</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="cnecRegionale"
                >Finale Régionale 2023</a
              >
            </li>
          </ul>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="contact" class="nav-link">Contact</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="calendrier" class="nav-link">Calendrier</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <!--navbar-right-->
      <ul class="navbar-nav me-1">
        <li class="nav-item" *ngIf="!currentUser">
          <a routerLink="auth/signup" class="nav-link">Créer un compte </a>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a routerLink="auth/signin" class="nav-link"> Connexion</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a routerLink="forum" class="nav-link"> Forum</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            *ngIf="currentUser"
          >
            Mon compte
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="account"> Gestion</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="onLogout()"> Déconnexion</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
