<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="accueil" class="nav-link">Accueil</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="club" class="nav-link">Le club</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Classement
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="championnatA"
                >Championnat A</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="championnatB"
                >Championnat B</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="championnatC"
                >Championnat C</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="championnatAnnuel"
                >Championnat Annuel</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Résultats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="resultatsA"
                >Résultats Championnat A</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="resultatsB"
                >Résultats Championnat B</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="resultatsC"
                >Résultats Championnat C</a
              >
            </li>
          </ul>
        </li>
        <!--<li routerLinkActive="active" class="nav-item">
          <a routerLink="resultat" class="nav-link">Résultats</a>
        </li>-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Archives
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="archives"
                >Championnat Annuel 2022-2023</a
              >
            </li>
          </ul>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="cnic" class="nav-link">CNIC</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="cnec" class="nav-link">CNEC</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="contact" class="nav-link">Contact</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="calendrier" class="nav-link">Calendrier</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <!--navbar-right-->
        <li routerLinkActive="active" class="nav-item" *ngIf="!isAuthenticated">
          <a routerLink="auth/signup" class="nav-link">Créer un compte </a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="!isAuthenticated">
          <a routerLink="auth/signin" class="nav-link"> Connexion</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
          <a routerLink="forum" class="nav-link"> Forum</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
          <a routerLink="auth/signin" (click)="onLogout()" class="nav-link">
            Déconnexion</a
          >
          <!-- <a routerLink="logout" class="nav-link"> Déconnexion</a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
