h1 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-family: "Poppins", "Inter", Verdana, sans-serif;
  font-weight: 400;
  color: yellow;
  margin-bottom: 10px;
  font-size: clamp(14px, 10px + 2vw, 22px);
}

thead tr {
  border-bottom: 3px solid white;
}

table {
  font-family: "Poppins", "Inter", Verdana, sans-serif;
  font-weight: 400;
}

td,
th {
  text-align: center;
  color: orange;
}

.titreColonne {
  color: white;
}

.qualif td {
  background-color: rgb(59, 41, 6);
}

.qualif th {
  background-color: rgb(59, 41, 6);
}

@media screen and (max-width: 770px) {
  /*h1 {
    font-size: 22px;
  }*/

  td,
  th {
    font-size: 12px;
  }
}

@media screen and (max-width: 525px) {
  td,
  th {
    font-size: 10px;
  }
}

@media screen and (max-width: 466px) {
  /*h1 {
    font-size: 18px;
  }*/

  td,
  th {
    font-size: 8px;
  }
}

@media screen and (max-width: 425px) {
  /*h1 {
    font-size: 15px;
  }*/

  td,
  th {
    font-size: 6px;
  }
}

@media screen and (max-width: 337px) {
  /*h1 {
    font-size: 13px;
  }*/

  td,
  th {
    font-size: 4px;
  }
}
