<div class="container">
  <div class="signin">
    <div class="content">
      <h2>Connexion</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="inputBox">
          <input
            type="email"
            name="email"
            formControlName="email"
            autocomplete="email"
            required
          />
          <i>Email</i>
        </div>
        <div class="inputBox">
          <input
            type="password"
            name="password"
            formControlName="password"
            autocomplete="current-password"
            required
          />
          <i>Mot de passe</i>
        </div>
        <div class="inputBox">
          <button class="mb-3" type="submit" [disabled]="loginForm.invalid">
            se connecter
          </button>
          <a routerLink="forgot-password">Mot de passe oublié</a>
          <small *ngIf="errorMessage">{{ errorMessage }}</small>
        </div>
      </form>
    </div>
  </div>
</div>
