<div class="container">
  <div class="signin">
    <div class="content">
      <h2>Connexion</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="inputBox">
          <input
            type="text"
            name="username"
            formControlName="pseudo"
            autocomplete="username"
            required
          />
          <i>Pseudo</i>
        </div>
        <div class="inputBox">
          <input
            type="password"
            name="password"
            formControlName="password"
            autocomplete="current-password"
            required
          />
          <i>Mot de passe</i>
        </div>
        <div class="inputBox">
          <button type="submit" [disabled]="loginForm.invalid">
            se connecter
          </button>
          <small *ngIf="errorMessage">{{ errorMessage }}</small>
        </div>
      </form>
    </div>
  </div>
</div>
