<div class="container-contact">
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Président : {{ ombruss.prenom }} {{ ombruss.nom | uppercase }}
    </h5>
    <div class="card-body">
      <p><i class="bi bi-telephone-fill"></i> : 0{{ ombruss.phone }}</p>
      <p><i class="bi bi-envelope-fill"></i> : {{ ombruss.mail }}</p>
    </div>
  </div>
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Vice président : {{ manukiller.prenom }} {{ manukiller.nom | uppercase }}
    </h5>
    <div class="card-body">
      <p><i class="bi bi-telephone-fill"></i> : 0{{ manukiller.phone }}</p>
      <p><i class="bi bi-envelope-fill"></i> : {{ manukiller.mail }}</p>
    </div>
  </div>
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Trésorière : {{ ataleuse.prenom }} {{ ataleuse.nom | uppercase }}
    </h5>
    <div class="card-body">
      <p><i class="bi bi-telephone-fill"></i> : 0{{ ataleuse.phone }}</p>
      <p><i class="bi bi-envelope-fill"></i> : {{ ataleuse.mail }}</p>
    </div>
  </div>
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Responsable compétition : {{ tass.prenom }} {{ tass.nom | uppercase }}
    </h5>
    <div class="card-body">
      <p><i class="bi bi-telephone-fill"></i> : 0{{ tass.phone }}</p>
      <p><i class="bi bi-envelope-fill"></i> : {{ tass.mail }}</p>
    </div>
  </div>
</div>
