.card {
  margin-top: 20px;
  width: 50%;
  background-color: #ead2a8;
  font-family: cursive, sans-serif;
  border-radius: 15px;
}

.container {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
}
