@import "~bootstrap-icons/font/bootstrap-icons.css";

.card {
  margin-top: 20px;
  width: 50%;
  background-color: #ead2a8;
  border-radius: 15px;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", "Inter", Verdana, sans-serif;
  font-weight: 400;
  font-size: medium;
}

h5 {
  text-transform: uppercase;
  font-family: "Poppins", "Inter", Verdana, sans-serif;
  font-size: large;
  font-weight: 500;
}
