<div class="container">
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Président : {{ ombruss.prenom }} {{ ombruss.nom }}
    </h5>
    <div class="card-body">
      <p>Téléphone : 0{{ ombruss.phone }}</p>
      <p>Email : {{ ombruss.mail }}</p>
    </div>
  </div>
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Vice président : {{ manukiller.prenom }} {{ manukiller.nom }}
    </h5>
    <div class="card-body">
      <p>Téléphone : 0{{ manukiller.phone }}</p>
      <p>Email : {{ manukiller.mail }}</p>
    </div>
  </div>
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Trésorière : {{ ataleuse.prenom }} {{ ataleuse.nom }}
    </h5>
    <div class="card-body">
      <p>Téléphone : 0{{ ataleuse.phone }}</p>
      <p>Email : {{ ataleuse.mail }}</p>
    </div>
  </div>
  <div class="card text-center text-dark">
    <h5 class="card-header">
      Responsable compétition : {{ tass.prenom }} {{ tass.nom }}
    </h5>
    <div class="card-body">
      <p>Téléphone : 0{{ tass.phone }}</p>
      <p>Email : {{ tass.mail }}</p>
    </div>
  </div>
</div>
