<ng-container>
  <h1>Résultats</h1>
  <div>
    <table class="table table-sm table-dark table-bordered table-hover">
      <thead>
        <tr>
          <th class="titreColonne" scope="col">POSITION</th>
          <th class="titreColonne" scope="col">PSEUDO</th>
          <th class="titreColonne" scope="col">POINTS</th>
        </tr>
      </thead>
      <tbody>
        <tr
          table="table-active"
          *ngFor="let result of resultats$ | async; let i = index"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ result.pseudo }}</td>
          <td>{{ result.points }} PTS</td>
        </tr>
        <!--<ng-container *ngFor="let tournoi of result$ | async; let i = index">
          <tr
            table="table-active"
            *ngFor="let player of tournoi.main1; let i = index"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ player.pseudo }}</td>
            <td>{{ player.points }} PTS</td>
          </tr>
        </ng-container>-->
        <!--<p>Résult</p>
        <div *ngFor="let tournoi of result$ | async; let i = index">
          {{ tournoi.date }}
          <div *ngFor="let player of tournoi.main1; let i = index">
            {{ player.position }} - {{ player.pseudo }} - {{ player.points }}
          </div>
        </div>-->
      </tbody>
    </table>
  </div>
</ng-container>
