.liste {
  width: 50%;
}

h1 {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-family: cursive, sans-serif;
  color: yellow;
}

thead tr {
  border-bottom: 3px solid white;
}

table {
  /*font-family: cursive, sans-serif;*/
  font-family: "Roboto";
}

td,
th {
  text-align: center;
  color: orange;
}

.titreColonne {
  color: white;
}
