.container {
  background-color: black;
  color: blanchedalmond;
  margin-top: 20px;
}

h1 {
  font-family: "Poppins", "Inter", Verdana, sans-serif;
  text-align: center;
}

h2,
h3 {
  text-decoration: underline;
}
