<div class="container">
  <h1>Mentions légales</h1>
  <br />
  <h2>Créateur et éditeur du site :</h2>
  <p>
    Michaud-Lauture Philippe, membre de l'association Bordeaux Poker Chartrons.
  </p>
  <h2>Droits d’auteurs et de reproduction :</h2>
  <p>
    L'ensemble du contenu du présent site Internet, y compris nom de domaine,
    marques, logo, texte… est la propriété de l'association Bordeaux Poker
    Chartrons et est protégé par les lois en vigueur de la législation française
    sur la propriété intellectuelle.
  </p>
  <p>
    Aucun élément de ce site ne peut être copié, reproduit, détourné ou
    dénaturé, et ce, sur quelque support que ce soit, sans constituer un acte de
    contrefaçon au sens des articles L 335-2 et suivants du code de la propriété
    intellectuelle.
  </p>
  <h2>Responsabilité de l’Éditeur :</h2>
  <p>
    Tout dysfonctionnement du serveur ou du réseau ne peut engager la
    responsabilité de l’Éditeur.
  </p>
  <p>
    De même, la responsabilité du site ne peut être engagée en cas de force
    majeure ou du fait imprévisible et insurmontable d'un tiers.
  </p>
  <p>
    Le site s'engage à mettre en œuvre tous les moyens nécessaires pour garantir
    la sécurité et la confidentialité des données. Toutefois, il n’apporte pas
    une garantie de sécurité totale.
  </p>
  <p>
    L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des
    sources, bien que les informations diffusées sur le site soient réputées
    fiables.
  </p>
  <h2>Responsabilité de l’Utilisateur :</h2>
  <p>
    L'Utilisateur est responsable des risques liés à l’utilisation de son
    identifiant de connexion et de son mot de passe.
  </p>
  <p>
    Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation
    de mot de passe, l’Éditeur décline toute responsabilité.
  </p>
  <h2>Accès au site :</h2>
  <p>
    L'utilisateur de ce site reconnaît disposer de la compétence et des moyens
    nécessaires pour accéder et utiliser ce site. Mr Michaud-lauture Philippe et
    le Bordeaux Poker Chartrons ne saurait être tenu responsable des éléments en
    dehors de leurs contrôles et des dommages qui pourraient éventuellement être
    subis par l'environnement technique de l'utilisateur et notamment, ses
    ordinateurs, logiciels, équipements réseaux et tout autre matériel utilisé
    pour accéder ou utiliser le service et/ou les informations.
  </p>
  <p>
    Il est rappelé que le fait d'accéder ou de se maintenir frauduleusement dans
    un système informatique, d'entraver ou de fausser le fonctionnement d'un tel
    système, d'introduire ou de modifier frauduleusement des données dans un
    système informatique constitue des délits passibles de sanctions pénales.
  </p>
  <p>
    L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne
    et il s’engage à ne pas porter atteinte à un tiers.
  </p>
  <p>
    L’Éditeur du site se réserve le droit de modérer ou de supprimer librement
    et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans
    justification.
  </p>
  <p>
    Les liens hypertextes mis en oeuvre au sein du présent site Internet, en
    direction d'autres sites et/ou de pages personnelles et d'une manière
    générale vers toutes ressources existantes sur Internet, ne sauraient
    engager la responsabilité de Mr Michaud-lauture Philippe ou de l'association
    Bordeaux Poker Chartrons.
  </p>
  <h2>Données personnelles - politique de confidentiatlité :</h2>
  <p>
    Le formulaire de demande de création de compte recueille des données
    personnelles vous concernant.
  </p>
  <p>
    Elles sont destinées à vous enregistrer sur le site et ne sont en aucun cas
    fournies à des tiers.
  </p>
  <h3>Données collectées :</h3>
  <p>Inscription sur le site : pseudo et mail.</p>
  <h3>Durée de conservation des informations :</h3>
  <p>Les données sont conservées pendant toute la durée de vie du site.</p>
  <p>
    Conformément au Règlement Général pour la Protection des Données, vous
    disposez d'un droit d'accès, de modification et de suppression des données
    vous concernant.
  </p>
  <p>
    Pour exercer ce droit d'accès, envoyez un e-mail à pmichaudlauture@gmail.com
  </p>
  <h2>Évolution des mentions légales :</h2>
  <p>
    Le site se réserve le droit de modifier les clauses de ces mentions légales
    à tout moment et sans justification.
  </p>
  <h2>Hébergement :</h2>
  <p>Nom</p>
  <p>Siège social :</p>
  <p>Site web :</p>
</div>
