* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.zone {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  flex-wrap: wrap;
}

h2 {
  color: black;
}
