* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 400;
  color: yellow;
}

.custom {
  width: 80px !important;
}

button.valid {
  font-weight: 400;
  text-align: center;
  border-radius: 999px;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "poppins";
  cursor: pointer;
}

button.cancel {
  font-weight: 400;
  text-align: center;
  border-radius: 999px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "poppins";
  margin-left: auto;
}

button.valid:hover {
  background-color: rgb(10, 168, 10);
}

button.cancel:hover {
  background-color: rgb(255, 26, 26);
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.ng-dirty,
.ng-touched {
  color: rgb(220, 220, 233);
}
