<div class="container">
  <div class="signup">
    <div class="content">
      <h2>Inscription</h2>
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmitRegistrationForm()"
      >
        <div class="inputBox">
          <input
            type="text"
            name="name"
            formControlName="name"
            autocomplete="name"
            required
            #name
          />
          <i>Pseudo</i>
        </div>
        <small *ngIf="name.value.length < 3 ? true : false"
          >Le pseudo doit contenir 3 caractères minimum</small
        >
        <div class="inputBox">
          <input
            type="email"
            name="email"
            formControlName="email"
            autocomplete="email"
            required
            #email
          />
          <i>Email</i>
        </div>
        <small *ngIf="registrationForm.controls['email'].errors"
          >Saisissez une adresse email valide</small
        >
        <div class="inputBox">
          <input
            type="password"
            name="password"
            formControlName="password"
            autocomplete="new-password"
            required
            #pass
          />
          <i>Mot de passe</i>
        </div>
        <small *ngIf="pass.value.length < 6 ? true : false"
          >Le mot de passe doit contenir 6 caractères minimum</small
        >
        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            id="signupCguCheck"
            formControlName="cguCheck"
          />
          <label for="signupCguCheck" class="form-check-label"
            >En cochant cette case, vous acceptez les mentions légales
            d'utilisation.</label
          >
        </div>
        <div class="inputBox">
          <button type="submit" [disabled]="registrationForm.invalid">
            s'inscrire
          </button>
          <small *ngIf="message">{{ message }}</small>
        </div>
      </form>
    </div>
  </div>
</div>
