* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

button {
  font-weight: 400;
  border-radius: 999px;
  color: white;
  width: 120%;
  font-size: 17px;
  font-family: "poppins";
}

h1 {
  font-family: "Quicksand";
  font-weight: bold;
  text-transform: uppercase;
  color: yellow;
  font-size: 18px;
}

@media screen and (max-width: 310px) {
  h1 {
    font-size: 15px;
  }
  button {
    font-size: 15px;
  }
}
