<div class="container">
  <div class="signin">
    <div class="content">
      <h2>Mot de passe oublié</h2>
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmitForgotPasswordForm()"
      >
        <div class="inputBox">
          <input
            type="email"
            name="email"
            formControlName="email"
            autocomplete="email"
            required
          />
          <i>Email</i>
        </div>
        <div class="inputBox">
          <button
            class="mb-3"
            type="submit"
            [disabled]="forgotPasswordForm.invalid"
          >
            Envoyer
          </button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="message">
          {{ message }}
        </div>
      </form>
    </div>
  </div>
</div>
