@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

/*------------------------------------------
# Définition du background-color de la modal.
-------------------------------------------*/
.mat-dialog-container {
  background-color: #222;
  padding: 0;
}

/*-------------------------------------------------------------
# Définition du style des éléments mat-form d'Angular Material.
--------------------------------------------------------------*/
.mat-form-field-label {
  color: yellow !important;
}

.mat-form-field-underline {
  background-color: yellow !important;
}

.mat-form-field-ripple {
  background-color: orange !important;
}

/*---------------------------------
# FOOTER
---------------------------------*/

.footer {
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  width: 100%;
}

.copyright {
  margin: 0 0 10px 0;
  color: #ffa012;
}

.social-links {
  margin: 0 0 10px 0;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #ffb03b;
}

.paraFooter {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
  color: rgb(152, 176, 176);
}

.credits {
  font-size: 13px;
  color: #ffa012;
}
