* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: auto;
}

h1 {
  align-self: center;
  font-family: "poppins";
}

app-edit-profile {
  width: 100%;
}

app-edit-auth-infos {
  width: 100%;
}
