<div class="container">
  <div class="signup">
    <div class="content">
      <h2>Inscription</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmitForm()">
        <div class="inputBox">
          <input
            type="text"
            name="username"
            formControlName="pseudo"
            autocomplete="username"
            required
            #pseudo
          />
          <i>Pseudo</i>
        </div>
        <small *ngIf="pseudo.value.length < 3 ? true : false"
          >Le Pseudo doit contenir 3 caractères minimum</small
        >
        <div class="inputBox">
          <input
            type="password"
            name="password"
            formControlName="password"
            autocomplete="new-password"
            required
            #pass
          />
          <i>Mot de passe</i>
        </div>
        <small *ngIf="pass.value.length < 6 ? true : false"
          >Le Mot de passe doit contenir 6 caractères minimum</small
        >
        <div class="inputBox">
          <button type="submit" [disabled]="registrationForm.invalid">
            s'inscrire
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
