.container {
  text-align: center;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  background-color: blue;
  text-align: center;
  font-weight: 700;
  border-radius: 7px;
  border: solid 2px black;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
