<div class="container-top">
  <h2 class="title">Bienvenue sur notre site</h2>
  <h3 class="title">Nos formules d'adhésions :</h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card text-center text-dark">
        <h4 class="card-header">Formule saison complète</h4>
        <div class="card-body">
          <p>Tous les tournois live des Mardi et Jeudi soir*</p>
          <p>5 tournois bi-mensuel Bordo'séries**</p>
          <p>Le tournoi de fin d'année***</p>
          <p>
            Tous les championnats online proposés par notre partenaire
            WINAMAX****
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center text-dark">
        <h4 class="card-header">Formule demi saison</h4>
        <div class="card-body">
          <p>Tous les tournois live des Mardi et Jeudi soir*</p>
          <p>2 tournois bi-mensuel Bordo'séries**</p>
          <p>Le tournoi de fin d'année***</p>
          <p>
            Tous les championnats online proposés par notre partenaire
            WINAMAX****
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center text-dark">
        <h4 class="card-header">Formule light</h4>
        <div class="card-body">
          <p>5 tournois bi-mensuel Bordo'séries**</p>
          <p>Le tournoi de fin d'année***</p>
          <p>
            Tous les championnats online proposés par notre partenaire
            WINAMAX****
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info">
  <p>* Chaque mardi et jeudi soir de 20h à 1h de Septembre à Juin.</p>
  <p>** Un dimanche de 9h30 à 22h.</p>
  <p>
    *** Tournoi sur deux jours, le premier week-end de Juillet (Samedi et
    Dimanche).
  </p>
  <p>**** Chaque lundi soir à 21h, championnats freerolls et payants.</p>
</div>
<div class="partenaires">
  <h4 class="title">NOS PARTENAIRES</h4>
  <p>Ils nous soutiennent depuis des années</p>
  <div class="g-grid">
    <div class="g-block size-50">
      <div class="img-wrapper">
        <a href="https://www.ffpoker.org/" target="_self">
          <img
            src="assets/FFPA2023.svg"
            id="image-ffpa"
            alt="lien vers le site Fédération Française De Poker Associatif"
          />
        </a>
      </div>
    </div>
    <div class="g-block size-50">
      <div class="img-wrapper">
        <a href="https://www.winamax.fr/" target="_self">
          <img
            src="assets/winamaxLogo.svg"
            id="image-wina"
            alt="lien vers le site Winamax"
          />
        </a>
        <h5 class="winamax">WINAMAX</h5>
      </div>
    </div>
  </div>
</div>
