<div class="container-top">
  <h2>Bienvenue sur notre site</h2>
  <h3>Nos formules d'adhésions :</h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card text-center text-dark">
        <h5 class="card-header">Formule saison complète</h5>
        <div class="card-body">
          <p>Tous les tournois live des Mardi et Jeudi soir*</p>
          <p>4 tournois bi-mensuel Bordo'séries**</p>
          <p>Le tournoi de fin d'année***</p>
          <p>
            Tous les championnats online proposés par notre partenaire
            WINAMAX****
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center text-dark">
        <h5 class="card-header">Formule demi saison</h5>
        <div class="card-body">
          <p>Tous les tournois live des Mardi et Jeudi soir*</p>
          <p>2 tournois bi-mensuel Bordo'séries**</p>
          <p>Le tournoi de fin d'année***</p>
          <p>
            Tous les championnats online proposés par notre partenaire
            WINAMAX****
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center text-dark">
        <h5 class="card-header">Formule light</h5>
        <div class="card-body">
          <p>4 tournois bi-mensuel Bordo'séries**</p>
          <p>Le tournoi de fin d'année***</p>
          <p>
            Tous les championnats online proposés par notre partenaire
            WINAMAX****
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info">
  <p>* Chaque mardi et jeudi soir de Septembre à Juin.</p>
  <p>** Dimanche de 9h30 à 21h.</p>
  <p>
    *** Tournoi sur deux jours, le premier week-end de Juillet (Samedi et
    Dimanche).
  </p>
  <p>**** Chaque lundi soir à 21h, championnats freerolls et payants.</p>
</div>
